.main {
  width: 100%;
}

.section__title {
  border-bottom: 1px solid #dadada;
  padding-bottom: 23px;
  margin: 0;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

@media screen and (max-width: 896px) {
}

@media screen and (max-width: 576px) {
  .section__title {
    border-bottom: 1px solid #dadada;
    padding-bottom: 28px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }
}
